.LandingPage {
    text-align: center;
  }
  
  .LandingPage-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .LandingPage-logo {
      animation: LandingPage-logo-spin infinite 20s linear;
    }
  }
  
  .LandingPage-header {
    background-color: #282c34;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  @keyframes LandingPage-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
    }
  
  h1 {
    font-size:  3em;
    > span {
      position: relative;
      display: inline-block;
      color: #5448de;
      height: 1.25em;
      vertical-align: bottom;
      overflow: hidden;
      span {
        display: block;
        animation: 
          animateWords 5s
          infinite ease;
      }
    }
  }
  
  @keyframes animateWords {
    0% {
      transform: translateY(0%);
    }
  
    25%  {
      transform: translateY(-100%);
    }
  
    50%  {
      transform: translateY(-200%);
    }
  
    75%  {
      transform: translateY(-300%);
    }
  
    100%  {
      transform: translateY(-400%);
    }
  }